# binaries
/synergia-client*
/synergia-updater*
/synergia-manager

# Build output directories
bin/
dist/
/cache/
**/*.exe

# test artifacts
test/testdata/models/
test/testdata/tls/
test/runs/

# OS
**/.DS_Store
**/Thumbs.db

# editors
.idea/
.vscode/
.history/
.claude/

# secret protection
**/*.env

# Test output directories
**/test/output/
